<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
    <script defer>
        function download() {
            // console.log('hello');
            const input = document.getElementById('download').value;
            // console.log('input:', input)
            const url = `/download/?youtube=${input}`;
            // console.log('input:', input)
            window.open(url).focus;
        }
    </script>

</head>
<body>
    <label for="YouTube">Provide YouTube Link</label>
    <input id='download' type="text" name="YouTube">
    <input type="button" onclick="download()" value="submit">
</body>
</html>